{% extends 'planner/layout.html'%}
{% block body %}
    {{task}}
    <hr>

    {% for filtered_task in filtered_tasks%}
        {{filtered_task}} <br>
    {% empty %}
        <h3>You may rest for the day or please add a NEW GOAL</h3>
    {% endfor %}
    <h4> energy cost for this particular task is: {{task_Cost}}</h4>

    <form method="POST" action="{% url 'update_task' %}">
        {% csrf_token %}

        <input type="hidden" name="task_id" value="{{task.id}}">

        <button type="submit" name="action" value="complete">Mark Complete</button>
        <button type="submit" name="action" value="skip">Too Tired(skip)</button>
    </form>

{% endblock %}